extends ../layout

block content
  .row
    .col.s12.mb-2.network-wrap
      .tree-wrap
        div#tree-container(style="text-align: center;")
          svg#datamap.datamap(width="80%")
            defs
              linearGradient#truncateText0(gradientUnits="userSpaceOnUse" x1="0" x2="200" y1="0" y2="0")
                stop(offset="90%" stop-opacity="1")
                stop(offset="1000%" stop-opacity="0")
              linearGradient#truncateLegendText0(gradientTransform="translate(0)" xlink:href="#truncateText0")
              
              linearGradient#truncateText1(gradientUnits="userSpaceOnUse" x1="0" x2="200" y1="0" y2="0")
                stop(offset="90%" stop-opacity="1")
                stop(offset="1000%" stop-opacity="0")
              linearGradient#truncateLegendText1(gradientTransform="translate(0)" xlink:href="#truncateText1")

block scripts
  script(src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js')
  script(src='/javascripts/ext/d3/d3.v5.min.js')
  script(src='/javascripts/ext/d3/d3-force-cluster.js')
  script(src='/javascripts/ext/d3/d3-force-attract.js')
  script(src='/javascripts/app/datamap.js')
  script.
    $(function() {
      new Datamap();
    });