@import "components/nav";
@import "components/tab";
@import "components/table";
@import "components/modal";
@import "components/pagination";
@import "components/spinner";
@import "components/badge";

@import "app/file_form";
@import "app/meta";
@import "app/data";
@import "app/qufa";
@import "app/chart";
@import "app/datamap";

@import "users/login";

body {
  background-color: #373740;
  color: #fff;
}

a {
  color: #4db6ac;
}

main {
  padding: 12px;
}

// Side-Nav에 따른 좌측 여백 설정
header,
main,
footer {
  padding-left: 300px;
}

table {
  background-color: #25262c;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.title {
  margin-top: 0;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.mt-2 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.input-field {
  input {
    color: #fff;
  }
}