.keyword-badge {
	position: relative;
	display: inline-block;
	font-size: 1rem !important;
	margin: 0 10px 10px 0;
	padding: 12px 12px 6px 6px;

	background-color: #2bbbad;
	border-radius: 2px;

	.badge-close-btn {
		position: absolute;
		top: 1px;
		right: 2px;
		display: block;
		width: 16px;
		height: 16px;
		line-height: 16px;
	
		color: #fff;
		border-radius: 50%;
		font-size: 1rem;
	}
}