<div>
  <table class="meta-form-table">
    <thead>
      <tr>
        <th></th>
        <th class="center-align">컬럼명(영문)</th>
        <th class="center-align">컬럼명(국문)</th>
        <th class="center-align">데이터타입</th>
        <th class="center-align">최대길이</th>
        <th class="center-align">소수점 자리수</th>
        <th class="center-align">
          날짜양식
          <a class="tooltipped" data-position="bottom" data-tooltip="Ex) YYYY-MM-DD hh:mm:ss">
            ?
          </a>
        </th>
        <th class="center-align">True 값</th>
        <th class="center-align">NOT NULL</th>
        <th class="center-align">UNIQUE</th>
        <th class="center-align">INDEX</th>
      </tr>
    </thead>

    <tbody>
      {{#each this}}
        <tr class="meta-form-row" data-idx="{{@index}}">
          <td>{{math @index "+" 1}}</td>
          <td>
            <div class="input-field">
              <input class="meta-form name" type="text" value="{{enName}}">
            </div>
          </td>
          <td>
            <div class="input-field">
              <input class="meta-form ko-name" type="text" value="{{koName}}">
            </div>
          </td>
          <td>
            <div class="input-field">
              <select class="meta-type-select meta-form-select data-type">
                {{#select type}}
                  <option value="string">문자</option>
                  <option value="number">숫자</option>
                  <option value="date">날짜(시간)</option>
                  <option value="boolean">불리안</option>
                {{/select}}
              </select>
            </div>
          </td>
          <td>
            <div class="input-field">
              <input class="right-align max-length" type="number" value="{{maxLen}}">
            </div>
          </td>
          <td>
            <div class="input-field">
              <input class="right-align float-length" type="number" value="{{floatLen}}">
            </div>
          </td>
          <td>
            <div class="input-field">
              <input class="right-align date-format" type="text" value="">
            </div>
          </td>
          <td>
            <div class="input-field">
              <input class="true-value" type="text" value="">
            </div>
          </td>
          <td class="center-align">
            <p>
              <label>
                <input class="is-not-null filled-in" type="checkbox" />
                <span></span>
              </label>
            </p>
          </td>
          <td class="center-align">
            <p>
              <label>
                <input class="is-unique filled-in" type="checkbox" />
                <span></span>
              </label>
            </p>
          </td>
          <td class="center-align">
            <p>
              <label>
                <input class="is-index filled-in" type="checkbox" />
                <span></span>
              </label>
            </p>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="mt-2 right-align">
    <button id="profiling-option-modal-btn" class="btn waves-effect waves-light" type="button">다음
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>
