<div>
  <table class="meta-form-table">
    <thead>
      <tr>
        <th class="center-align">프로파일링 대상</th>
        <th class="center-align">컬럼명</th>
        <th class="center-align">프로파일링 유형</th>
      </tr>
    </thead>

    <tbody>
      {{#each this}}
        <tr class="profiling-form-row" data-idx="{{@index}}">
          <td class="center-align">
            <p>
              <label>
                <input class="is-profiling filled-in" type="checkbox" data-idx="{{@index}}" checked/>
                <span></span>
              </label>
            </p>
          </td>
          <td>
            {{#if name}}
              {{name}}
            {{else}}
              {{koName}}
            {{/if}}
          </td>
          <td class="center-align">
            <div class="input-field">
              <select class="meta-type-select profiling-meta-form-select data-type">
                {{#select dataType}}
                  <option value="string">문자</option>
                  <option value="number">숫자</option>
                  <option value="date">날짜(시간)</option>
                {{/select}}
              </select>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
