<div class="table-responsive">
  <table class="preview-table">
    <thead>
      <tr>
        <th class="min">Column</th>
        <th class="min">Rows</th>
        <th class="min">Distinct Cnt</th>
        <th class="min">Distinctness</th>
        <th class="min">Unique Cnt</th>
        <th class="min">Null Cnt</th>
        
        <th class="min">Min Val</th>
        <th class="min">Max Val</th>
        <th class="min">Mean Val</th>
        <th class="min">Median Val</th>

        <th class="min">Avg Len Val</th>
        <th class="min">Blank Cnt</th>
        <th class="min">Max Len Val</th>
        <th class="min">Min Len Val</th>
        <th class="min">True Cnt</th>
        <th class="min">False Cnt</th>
      </tr>
    </thead>

    <tbody>
      {{#each this}}
      {{#ifCond @index ">" 0}}
      <tr>
        <td>{{columnName}}</td>
        <td class="right-align">{{basic.rowCnt}}</td>
        <td class="right-align">{{basic.distinctCnt}}</td>
        <td class="right-align">{{basic.distinctness}}</td>
        <td class="right-align">{{basic.uniqueCnt}}</td>
        <td class="right-align">{{basic.nullCnt}}</td>
        
        <td class="right-align">{{fixFloat number.min}}</td>
        <td class="right-align">{{fixFloat number.max}}</td>
        <td class="right-align">{{fixFloat number.mean}}</td>
        <td class="right-align">{{fixFloat number.median}}</td>

        <td class="right-align">{{fixFloat string.avgLen}}</td>
        <td class="right-align">{{fixFloat string.blankCnt}}</td>
        <td class="right-align">{{fixFloat string.maxLen}}</td>
        <td class="right-align">{{fixFloat string.minLen}}</td>

        <td class="right-align">{{trueCnt}}</td>
        <td class="right-align">{{falseCnt}}</td>
      </tr>
      {{/ifCond}}
      {{/each}}
    </tbody>
  </table>
</div>