//  Modal Structure 
#improvement-modal.modal.lg
  .modal-content
    h4 TimeSeries Data Quality Improvement

    #improvement-result(style='height:500px;')

  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!') 확인