//  Modal Structure 
#profile-prep-modal.modal.lg
  .modal-content
    h4 프로파일링 설정 

    div
      .row
        .input-field.col.s12
          p
            label
              input#has-header.filled-in(type='checkbox' checked)
              span Header포함
        .input-field.col.s6.l2
          select#delimiter
            each delimiter in [{name: "Auto Detection", value:""}, {name: "Comma(,)", value:","}, {name: "Semi-colon(;)", value: ";"}, {name: "Colon(:)", value: ":"}, {name: "Tab(\\t)", value: "\\t"}]
              option(value=delimiter.value) #{delimiter.name}
          label(for='delimiter') 구분자
        .input-field.col.s6.l2
          select#encoding
            each encoding in [{name: "UTF-8", value:"UTF-8"}, {name: "EUC-KR", value: "EUC-KR"}, {name: "CP949", value: "cp949"}]
              option(value=encoding.value) #{encoding.name}
          label(for='encoding') 인코딩
        .input-field.col.s6.l2
          select#header-lang
            each lang in [{name: "영어", value: "en"}, {name: "한국어", value:"ko"}]
              option(value=lang.value) #{lang.name}
          label(for='header-lang') 언어

  .modal-footer
    button#extract-btn.j.modal-close.btn.waves-effect.waves-light(type='button') 수행