//  Modal Structure 
#task-modal.modal
  .modal-content
    h4 QUFA 태스크 정의
    p 아래 태스크를 Drag&Drop하여 품질 또는 공정성 관련 태스크를 정의할 수 있습니다.

    ul#qufa-tasks
      li.qufa-item.ui-state-highlight(data-task="outlier") Outlier Removal
      li.qufa-item.ui-state-highlight(data-task="imputation") Data Imputation
      li.qufa-item.ui-state-highlight(data-task="feature") Feature Engineering
      li.qufa-item.ui-state-highlight(data-task="fairness") Fairness Improvement
      li.qufa-item.ui-state-highlight(data-task="improvement") Data Quality Imrovement
      
    ul#qufa-tasks-box
      each task in project.tasks
        li.qufa-item.ui-state-highlight(data-task=task.task)=task.getTaskMsg()
        

  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!') 취소
    a.save-task.waves-effect.waves-green.btn-flat(href='#!') 저장하기