extends ../layout

block content
  .row
    .col.s12.mb-2
      .table-responsive
        table
          thead
            tr
              th ID
              th 프로젝트명
              th 원천데이터
              th Task
              th
          tbody
            each project in projects.rows
              tr
                td=project.id
                td
                  a(href=`/projects/${project.id}`)=project.title
                td
                  if project.datasets.length
                    - var dataset = project.datasets[0]
                      p=`${dataset.originFileName} (${util.formatBytes(dataset.fileSize)})`

                td.center-align=project.tasks.length
                td.right-align
                  if project.datasets.length
                    a.waves-effect.waves-light.btn-link(href=`/projects/${project.id}`)
                      | 프로젝트 상세
                  else 
                    a.waves-effect.waves-light.btn(href=`/projects/${project.id}/init`)
                      | 데이터셋 등록

    include ../fragments/_pagination
    +pagination(pageOption)

    .col.s12.right-align
      a.waves-effect.waves-light.btn.modal-trigger(href='#new-project-modal')
        i.material-icons.left add
        | 신규 프로젝트 생성

  #new-project-modal.modal.modal-fixed-footer
    .modal-content
      h4 프로젝트 생성
      form#project-form.col.s12(action="/projects" method="post")
        .row
          .input-field.col.s12
            input#title(type='text' name="title")
            label(for='title') 프로젝트 명칭
        .row
          .input-field.col.s12
            textarea#description.materialize-textarea(data-length='2000' name="description")
            label(for='description') 프로젝트 설명
        .row
          .input-field.col.s12
            input#keywords-user-input(type='text')
            label(for='keywords') 키워드
        .row 
          .col.s12
            div#keywords-wrap
          .col-s12
            input#keywords(type='hidden' name="keywords")
        
    .modal-footer
      a.modal-close.waves-effect.waves-green.btn-flat(href='#!') 취소
      a#submit-btn.waves-effect.waves-green.btn-flat(href='#!') 생성하기

block scripts
  script(src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js')
  script(src='/javascripts/app/handlebars-helper.js')
  script.
    $(function() {
      var keywordsTemplate;
      var keywords = [];

      var fetchKeywordTemplate = function () {
        return $.get("/javascripts/templates/data/keyword.hbs", function (t) {
          keywordsTemplate = Handlebars.compile(t);
        });
      };
      $('.modal').modal();

      $("#submit-btn").click(function(e) {
        if (!validateProjectInputs()) {
          return;
        }

        var keywordsStr = keywords.join(',');
        $("#keywords").val(keywordsStr);
        $("#project-form")[0].submit();
      })

      $("#keywords-user-input").keyup(function(e) {
        if (e.keyCode != 13) {
          return;
        }
        var keyword = $(this).val();
        if (!keyword || keyword.trim().length == 0) {
          return;
        }

        addKeyword(keyword);
        renderAllKeywords();
        $(this).val('');
      })

      $(document).on('click', '.badge-close-btn', function(e) {
        e.preventDefault();

        var idx = $(this).data('idx');
        console.log(idx);
        keywords.splice(idx, 1);
        renderAllKeywords();
      });

      function validateProjectInputs() {
        var title = $("#title").val();
        var desc = $("#description").val();
        if(!title || title.trim().length == 0) {
          alert("프로젝트 명칭을 입력해주세요.");
          return false;
        } else if (!desc || desc.trim().length == 0) {
          alert("프로젝트 설명을 입력해주세요.");
          return false;
        } else if (keywords.length == 0) {
          alert("키워드를 최소 3개 입력해주세요.")
          return false;
        } else {
          return true;
        }
      }

      function addKeyword(keyword) {
        if (keywords.length ==5) {
          alert('키워드는 최대 5개까지 입력할 수 있습니다.');
          return;
        }
        keywords.push(keyword);
      }

      function renderAllKeywords() {
        console.log('render')
        console.log(keywords);
        $.when(fetchKeywordTemplate()).done(function() {
          var keywordsHtml = keywordsTemplate(keywords)
          $("#keywords-wrap").html(keywordsHtml);
        });
      }
    });