extends ../layout

block content
  .row
    .col.s12
      h4.title=project.title
      p=project.description

  include _file_form

  #profiling-option-modal.modal.modal-fixed-footer
    .modal-content
      h4 프로파일링 항목 선정
      div#profiling-option-wrap        
    .modal-footer
      a.modal-close.waves-effect.waves-green.btn-flat(href='#!') 취소
      button#save-meta-btn.waves-effect.waves-green.btn-flat(href='#!') 추출 및 프로파일링 수행

block scripts
  script(src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js')
  script(src='/javascripts/app/handlebars-helper.js')
  script(src='/javascripts/app/file-uploader.js')
  script(src='/javascripts/ext/papa-parser/papaparse.min.js')
  script(src='/javascripts/ext/momentjs/moment-with-locales.min.js')
  script
    include scripts/project-init.js
  script.
    $(function(){
      var projectId = "#{project.id}";
      $("select").formSelect();
      if ($("#file-upload-form").length) {
        new ProjectInit(projectId);  
      }
    });
    
