extends ../layout

block content
  include _task_tabs
  include _filter

  include _option_btns
  include _task_modal
  include _visual_modal
  include _profile_modal
  include _importance_modal

block scripts
  script(src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js')
  script(src='/javascripts/app/handlebars-helper.js')
  script(src='https://cdn.amcharts.com/lib/4/core.js')
  script(src='https://cdn.amcharts.com/lib/4/charts.js')
  script(src='https://cdn.amcharts.com/lib/4/themes/animated.js')
  
  script.
    am4core.addLicense("CH204832145");
  script
    if dataset
      | var datasetId = #{dataset.id};
    if currentTask
      | var taskId = #{currentTask.id};
      | var task = "#{currentTask.task}";
    else
      | var task = "";
    include scripts/dataset.js
  script.
    var projectId = #{project.id};
    $(document).ready(function(){
      $( "#qufa-tasks-box" ).sortable({
        revert: true
      });

      $( "#qufa-tasks > li" ).draggable({
        connectToSortable: "#qufa-tasks-box",
        helper: "clone",
        revert: "invalid"
      });
      $( "ul, li" ).disableSelection();

      $(document).on("click", ".save-task", function(e) {
        e.preventDefault();

        var tasks = $( "#qufa-tasks-box" ).sortable( "toArray", { attribute: "data-task" } );
        $.ajax({
          url: "/projects/" + projectId + "/tasks",
          type: "post",
          contentType: "application/json",
          data: JSON.stringify(tasks),
          success: function(d) {
            if (d && d.length) {
              alert("태스크 등록이 완료되었습니다. 각각의 태스크는 단계별로 진행됩니다.")
              location.reload();
            }
          }
        })
        console.log(tasks);
      })
    });
    