extends ../layout

block content
  include _task_tabs

  include _option_btns
  include _visual_modal
  include _outlier_modal
  include _outlier_compare_modal
  include _importance_modal
  include _compare_modal
  include _fairness_compare_modal
  include _profile_modal
  include _improvement_modal
  

block scripts
  script(src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js')
  script(src='/javascripts/app/handlebars-helper.js')
  script(src='https://cdn.amcharts.com/lib/4/core.js')
  script(src='https://cdn.amcharts.com/lib/4/charts.js')
  script(src='https://cdn.amcharts.com/lib/4/plugins/sunburst.js')
  script(src='https://cdn.amcharts.com/lib/4/themes/animated.js')

  script(src="https://cdn.amcharts.com/lib/5/index.js")
  script(src="https://cdn.amcharts.com/lib/5/xy.js")
  script(src="https://cdn.amcharts.com/lib/5/themes/Animated.js")

  script.
    am4core.addLicense("CH204832145");
  script
    | var datasetId = #{dataset.id};
    | var projectId = #{project.id};
    if currentTask
      | var taskId = #{currentTask.id};
      | var task = "#{currentTask.task}";
    include scripts/dataset.js
    
  script.
    var projectId = #{project.id};
    var timebandDataIndex = 50;

    $(document).ready(function(){
      var rowsTemplate;
      $.get("/javascripts/templates/data/rows.hbs", function (t) {
        rowsTemplate = Handlebars.compile(t);
      });

      $(document).on("click", ".visual-btn", function (e) {
        if (taskId) {
          if (task == "imputation") {
            $.getJSON("/datasets/" + datasetId + "/imputation", function(result) {
              if (result && result.result) {
                imputationResult = result.result

                var resultData = [];
                for(var key of Object.keys(imputationResult)) {
                  var obj = {
                    category: key.trim(),
                    //value: imputationResult[key]
                    value: Math.floor(Math.random() * 100)
                  };
                  resultData.push(obj);
                }

                $("#visual-result").html("");
                renderImputationChart("visual-result", resultData);
                
                $("#visual-modal").modal();
                $("#visual-modal").modal("open");
              }
            });
          } else if (task == "outlier") {
            $.getJSON("/datasets/" + datasetId + "/outlier", function(d) {
              
              $("#outlier-deleted-count").text(d.result.num_outliers);

              if (d.result.num_outliers > 0 && d.deletedData.rows && d.deletedData.rows.length) {
                var rowsHtml = rowsTemplate({rows: d.deletedData.rows, isDeleted: true});
                $("#deleted-rows").html(rowsHtml);
              }

              $("#outlier-modal").modal();
              $("#outlier-modal").modal("open");
            });
          } else if (task == "improvement") {
            $.getJSON("/datasets/" + datasetId + "/improvement", function(d) {
              $("#improvement-modal").modal();
              $("#improvement-modal").modal("open");

              setTimeout(function(){                  
                  renderTimeband(d.result);
              }, 1000);
            });
          }
        }
      });

      $(document).on("click", ".outlier-compare-btn", function() {
        $(document).ready(function(){
          $('select').formSelect();
        });

        $("#outlier-compare-modal").modal();
        $("#outlier-compare-modal").modal("open");
      });

      $(document).on("click", "#btn-outliser-compare-viz", function() {
        var data = {
          xCol: $("#x-value").val(),
          yCol: $("#y-value").val()
        };

        $.ajax({
            url: "/datasets/" + datasetId + "/outlier",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function(d) {
              
              if (d) {
                _.forEach(d, function(value, key) {
                  var graphId = "graph-" + key;
                  var $graphWrap = $("<div/>").addClass("col").addClass("s12").addClass("l4").append($("<div/>").attr("id", graphId).addClass("chart-wrap"));
                  $("#outlier-compare-result").append($graphWrap);
                });

                _.forEach(d, function(value, k) {
                  var graphId = "graph-" + k;
                  var chartData = [];

                  

                  var outliers = [];
                  for (var o of value.before.outliers) {
                    outliers.push({
                      category: "before " + k,
                      y: o
                    })
                  }
                  
                  chartData.push({
                    category: "before " + k,
                    q1: value.before.q1,
                    q3: value.before.q3,
                    median: value.before.median,
                    min: value.before.min,
                    max: value.before.max,
                  });

                  //var afterOutliers = [];
                  for (var o of value.after.outliers) {
                    outliers.push({
                      category: "after " + k,
                      y: o
                    })
                  }

                  chartData.push({
                    category: "after " + k,
                    q1: value.after.q1,
                    q3: value.after.q3,
                    median: value.after.median,
                    min: value.after.min,
                    max: value.after.max
                  });

                  renderBoxPlot(graphId, chartData, outliers);
                });
              }
            }
        });
      });

      function renderBoxPlot(container, data, outliers) {
        am4core.ready(function() {
          am4core.useTheme(am4themes_animated);
          
          var chart = am4core.create(container, am4charts.XYChart);
          chart.data = data;
          chart.padding(30, 30, 10, 30);
          chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

          var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
          valueAxis.tooltip.disabled = true;
          var labelY = valueAxis.renderer.labels.template;
          labelY.fill = am4core.color("#fff");

          var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
          categoryAxis.dataFields.category = "category";
          categoryAxis.renderer.grid.template.location = 0;
          categoryAxis.renderer.grid.template.stroke = am4core.color("#fff");
          var label = categoryAxis.renderer.labels.template;
          label.fill = am4core.color("#fff");

          var series = chart.series.push(new am4charts.CandlestickSeries());
          //series.dataFields.dateX = "date";
          series.dataFields.categoryX = "category";
          series.dataFields.valueY = "q3";
          series.dataFields.openValueY = "q1";
          series.dataFields.lowValueY = "min";
          series.dataFields.highValueY = "max";
          series.simplifiedProcessing = true;
          series.tooltipText = "Q1:{openValueY.value}\nMedian:{median}\nQ3: {valueY.value}\nLow: {lowValueY.value}\nHigh: {highValueY.value}\n";
          series.riseFromOpenState = undefined;
          series.dropFromOpenState = undefined;

          chart.cursor = new am4charts.XYCursor();

          var medianaSeries = chart.series.push(new am4charts.StepLineSeries());
          medianaSeries.noRisers = true;
          medianaSeries.startLocation = 0.1;
          medianaSeries.endLocation = 0.9;
          medianaSeries.dataFields.valueY = "median";
          medianaSeries.dataFields.categoryX = "category";
          //medianaSeries.dataFields.dateX = "date";
          medianaSeries.strokeWidth = 2;
          medianaSeries.stroke = am4core.color("#fff");

          var topSeries = chart.series.push(new am4charts.StepLineSeries());
          topSeries.noRisers = true;
          topSeries.startLocation = 0.2;
          topSeries.endLocation = 0.8;
          topSeries.dataFields.valueY = "max";
          topSeries.dataFields.categoryX = "category";
          //topSeries.dataFields.dateX = "date";
          topSeries.stroke = chart.colors.getIndex(0);
          topSeries.strokeWidth = 2;

          var bottomSeries = chart.series.push(new am4charts.StepLineSeries());
          bottomSeries.noRisers = true;
          bottomSeries.startLocation = 0.2;
          bottomSeries.endLocation = 0.8;
          bottomSeries.dataFields.valueY = "min";
          bottomSeries.dataFields.categoryX = "category";
          //bottomSeries.dataFields.dateX = "date";
          bottomSeries.stroke = chart.colors.getIndex(0);
          bottomSeries.strokeWidth = 2;

          var bulletSeries = chart.series.push(new am4charts.LineSeries());
          bulletSeries.strokeOpacity = 0;
          bulletSeries.data = outliers;
          // bulletSeries.dataFields.dateX = "date";
          bulletSeries.dataFields.categoryX = "category";
          bulletSeries.dataFields.valueY = "y";
          bulletSeries.tooltipText = "{valueY.value}";

          var bullet = bulletSeries.bullets.push(new am4charts.CircleBullet());
          bullet.fill = am4core.color("#fff");
        });
      }

      $(document).on("click", ".compare-data-btn", function() {
        $("#fairness-compare-modal").modal();
        $("#fairness-compare-modal").modal("open");
      });

      $("#check-all").click(function() {
        $(".col-checkbox").prop("checked", $(this).is(":checked"));
      });

      $("#btn-fairness-viz").click(function() {
        var checkedCols = [];
        $(".col-checkbox:checked").each(function(idx, cBox) {
          checkedCols.push($(cBox).val());
        });

        if (checkedCols.length) {
          $.ajax({
            url: "/datasets/" + datasetId + "/fairness",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({checkedCols: checkedCols}),
            success: function(d) {
              
              if (d.before && d.after) {
                var beforeG = _.groupBy(d.before, 'colName');
                var afterG = _.groupBy(d.after, 'colName');
                
                _.forEach(beforeG, function(value, key) {
                  $("#col-" + key + "-cnt").text("(" + value.length + ")");
                  if (value.length < 20) {
                    var graphId = "graph-" + key;
                    var $graphWrap = $("<div/>").addClass("col").addClass("s12").addClass("l4").append($("<div/>").attr("id", graphId).addClass("chart-wrap"));
                    $("#result-graph").append($graphWrap);
                  } else {
                    $("#col-" + key + "-cnt").css("color", "red");
                  }
                });

                _.forEach(beforeG, function(value, key) {
                  if (value.length < 20) {
                    var graphId = "graph-" + key;
                    var chartData = [];

                    var beforeObj = {
                      category: "Before " + key
                    };

                    _.forEach(value, function(v) {
                      beforeObj["" + v.colValue] = v.colCount
                    });

                    var afterObj = {
                      category: "After " + key
                    };

                    _.forEach(afterG[key], function(v) {
                      afterObj["" + v.colValue] = v.colCount
                    });

                    chartData.push(beforeObj);
                    chartData.push(afterObj);

                    renderFairnessChart(graphId, chartData);
                  }
                });
              }
            }
          })
        }
      });

      function renderFairnessChart(container, data) {
        am4core.ready(function() {
          // Themes begin
          am4core.useTheme(am4themes_animated);
          // Themes end

          var chart = am4core.create(container, am4charts.XYChart);
          chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

          chart.data = data;
          chart.padding(30, 30, 10, 30);
          // chart.legend = new am4charts.Legend();

          var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
          categoryAxis.dataFields.category = "category";
          categoryAxis.renderer.grid.template.location = 0;
          categoryAxis.renderer.grid.template.stroke = am4core.color("#f2f2f2");
          var label = categoryAxis.renderer.labels.template;
          label.fill = am4core.color("#fff");

          var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
          valueAxis.renderer.grid.template.stroke = am4core.color("#f2f2f2");
          valueAxis.min = 0;
          valueAxis.max = 100;
          valueAxis.strictMinMax = true;
          valueAxis.calculateTotals = true;
          valueAxis.renderer.minWidth = 50;

          var labelY = valueAxis.renderer.labels.template;
          labelY.fill = am4core.color("#fff");

          function createSeries(value, name) {
            var series = chart.series.push(new am4charts.ColumnSeries());
            series.columns.template.width = am4core.percent(80);
            series.columns.template.tooltipText =
              "'{name}': {valueY.totalPercent.formatNumber('#.00')}%";
            series.name = ""+name;
            series.dataFields.categoryX = "category";
            series.dataFields.valueY = name;
            series.dataFields.valueYShow = "totalPercent";
            series.dataItems.template.locations.categoryX = 0.5;
            series.stacked = true;
            // series.tooltip.pointerOrientation = "horizontal";

            var bullet = series.bullets.push(new am4charts.LabelBullet());
            bullet.interactionsEnabled = false;
            bullet.label.text = "{valueY.totalPercent.formatNumber('#.00')}%";
            bullet.label.fill = am4core.color("#ffffff");
            bullet.locationY = 0.5;
          }

          _.forEach(data[0], function(val, k) {
            if (k != "category") {
              createSeries(val, k);
            }
          });

          chart.cursor = new am4charts.XYCursor();
          chart.cursor.xAxis = valueAxis;
        });
      }

      function renderTprChart(container, title, data) {
        am4core.ready(function() {
          // Themes begin
          am4core.useTheme(am4themes_animated);
          // Themes end

          // Create chart
          var chart = am4core.create(container, am4charts.XYChart);
          chart.data = data;
          chart.numberFormatter.numberFormat = "#.##%";
          chart.legend = new am4charts.Legend();
          chart.legend.labels.template.text = "[{color}]{name}";

          // Create axes
          var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
          dateAxis.renderer.minGridDistance = 50;
          dateAxis.renderer.labels.template.disabled = true;
          dateAxis.cursorTooltipEnabled = false;
          dateAxis.renderer.grid.template.stroke = am4core.color("#f2f2f2");

          var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
          valueAxis.renderer.grid.template.stroke = am4core.color("#f2f2f2");
          var label = valueAxis.renderer.labels.template;
          label.fill = am4core.color("#fff");
          
          var colorList = [
            am4core.color("#67b7dc"),
            am4core.color("#00A389"),
            am4core.color("#dc8c67"),
            am4core.color("#dc67ce")                       
          ];

          function createSeries(field, name, colorIdx, isFirst) {
            var series = chart.series.push(new am4charts.LineSeries());
            series.dataFields.valueY = field;
            series.calculatePercent = true; 
            series.dataFields.dateX = "date";
            series.strokeWidth = 2;
            series.name = name + " of Subgroup " + colorIdx ;
            series.smoothing = "monotoneX";
            series.stroke = colorList[colorIdx];

            if (isFirst) {
              series.tooltipText = "[bold]Before:[/] {value1}\n[bold]After :[/] {value2}";
              series.tooltip.pointerOrientation = "vertical";
            }

            return series;
          }

          createSeries("value1", title, 1, true);
          createSeries("value2", title, 2);

          // Add cursor
          chart.cursor = new am4charts.XYCursor();
          chart.cursor.xAxis = dateAxis;
          
        });
      }

      $(document).on("click", ".compare-btn", function() {

        $.getJSON("/datasets/" + datasetId + "/fairnessResult", function(result) {

          renderTprChart("equality-result", "TPR", [
            {date: new Date(2015, 0, 1), value1: result.before.tpr_a, value2: result.before.tpr_b},
            {date: new Date(2016, 0, 1),value1: result.after.tpr_a, value2: result.after.tpr_b}
          ]);

          renderTprChart("equalized-result", "FPR", [
            {date: new Date(2015, 0, 1), value1: result.before.fpr_a, value2: result.before.fpr_b},
            {date: new Date(2016, 0, 1),value1: result.after.fpr_a, value2: result.after.fpr_b}
          ]);

          renderTprChart("demographic-result", "DP", [
            {date: new Date(2015, 0, 1), value1: result.before.dp_a / 100, value2: result.before.dp_b / 100},
            {date: new Date(2016, 0, 1),value1: result.after.dp_a / 100, value2: result.after.dp_b / 100}
          ]);

          renderTprChart("treatment-result", "TE", [
            {date: new Date(2015, 0, 1), value1: result.before.te_a / 100, value2: result.before.te_b / 100},
            {date: new Date(2016, 0, 1),value1: result.after.te_a / 100, value2: result.after.te_b / 100}
          ]);

          $("#compare-modal").modal();
          $("#compare-modal").modal("open");
        });
      })

      function renderImputationChart(chartId, data) {
        am4core.ready(function() {
          am4core.useTheme(am4themes_animated);

          var chart = am4core.create(chartId, am4charts.XYChart);
          chart.padding(40, 40, 40, 40);
          chart.data = data;

          var colorList = [
            am4core.color("#48DAC5"),
            am4core.color("#00A389"),
            am4core.color("#0F5F52"),
            am4core.color("#13463D"),
            am4core.color("#384948"),
            am4core.color("#38514D"),
            am4core.color("#536B67"),
            am4core.color("#8B9997")
          ];

          var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
          categoryAxis.renderer.grid.template.location = 0;
          categoryAxis.dataFields.category = "category";
          categoryAxis.renderer.minGridDistance = 1;
          categoryAxis.renderer.inversed = true;
          categoryAxis.renderer.grid.template.stroke = "#fff";
          categoryAxis.renderer.grid.template.strokeDasharray = "2,4";

          var label = categoryAxis.renderer.labels.template;
          label.fill = am4core.color("#fff");

          var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
          valueAxis.min = 0;
          valueAxis.renderer.grid.template.stroke = "#fff";
          valueAxis.renderer.grid.template.strokeDasharray = "2,4";

          var vLabel = valueAxis.renderer.labels.template;
          vLabel.fill = am4core.color("#fff");

          var series = chart.series.push(new am4charts.ColumnSeries());
          series.dataFields.categoryY = "category";
          series.dataFields.valueX = "value";
          series.tooltipText = "{valueX.value}"
          series.columns.template.strokeOpacity = 0;
          series.columns.template.column.cornerRadiusBottomRight = 5;
          series.columns.template.column.cornerRadiusTopRight = 5;

          var labelBullet = series.bullets.push(new am4charts.LabelBullet())
          labelBullet.label.horizontalCenter = "left";
          labelBullet.label.dx = 10;
          labelBullet.label.text = "{values.valueX.workingValue.formatNumber('#')} 건";
          labelBullet.locationX = 1;
          labelBullet.fill = am4core.color("#fff");

          // as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
          series.columns.template.adapter.add("fill", function(fill, target){
            //return chart.colors.getIndex(target.dataItem.index);
            return colorList[target.dataItem.index % colorList.length];
          });

          categoryAxis.sortBySeries = series;

          var cellSize = 30;
          chart.events.on("datavalidated", function(ev) {
            // Get objects of interest
            var chart = ev.target;
            var categoryAxis = chart.yAxes.getIndex(0);

            // Calculate how we need to adjust chart height
            var adjustHeight = chart.data.length * cellSize - categoryAxis.pixelHeight;

            // get current chart height
            var targetHeight = chart.pixelHeight + adjustHeight;

            // Set it on chart's container
            chart.svgContainer.htmlElement.style.height = targetHeight + "px";
          });
        });
      }

      function renderTimeband(visualData) {
        var root = am5.Root.new("improvement-result");

        const myTheme = am5themes_Animated.new(root);
        myTheme.rule("AxisLabel").setAll({
          fill: am5.color(0xFFFFFF)
        });

        root.setThemes([
          myTheme
        ]);
        //- root.setThemes([
        //-   am5themes_Animated.new(root)
        //- ]);

        // Generate random data
        var value = 150;
        let index = 50;
        
        var data = generateTimebandData(visualData);

        // Create chart
        // https://www.amcharts.com/docs/v5/charts/xy-chart/
        var chart = root.container.children.push(am5xy.XYChart.new(root, {
          focusable: true,
          panX: true,
          panY: true,
          wheelX: "panX",
          wheelY: "zoomX",
          pinchZoomX:true,
          layout: root.horizontalLayout
        }));

        //- var easing = am5.ease.linear;

        // Create axes
        // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
        var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
          maxDeviation: 0.5,
          groupData: false,
          extraMax:0.1, // this adds some space in front
          extraMin:-0.1,  // this removes some space form th beginning so that the line would not be cut off
          baseInterval: {
            timeUnit: "second",
            count: 1
          },
          renderer: am5xy.AxisRendererX.new(root, {
            minGridDistance: 50
          }),
          tooltip: am5.Tooltip.new(root, {})
        }));

        var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
          renderer: am5xy.AxisRendererY.new(root, {})
        }));


        // Add series
        // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
        var series = chart.series.push(am5xy.LineSeries.new(root, {
          name: "실제값",
          xAxis: xAxis,
          yAxis: yAxis,
          valueYField: "value",
          valueXField: "date",
          tooltip: am5.Tooltip.new(root, {
            pointerOrientation: "horizontal",
            labelText: "{valueY}"
          }),
          stroke: am5.color(0xff0000),
        }));

        series.strokes.template.setAll({
          strokeWidth: 3,
          strokeDasharray: [10,5]
        });

        // tell that the last data item must create bullet
        data[data.length - 1].bullet = true;
        series.data.setAll(data);

        // Range Area chart
        var series0 = chart.series.push(
          am5xy.LineSeries.new(root, {
            name: "상한",
            xAxis: xAxis,
            yAxis: yAxis,
            valueYField: "bandUp",
            valueXField: "date",
            openValueYField: "bandDown",
            tooltip:am5.Tooltip.new(root, {
              labelText:"{valueY}",
              pointerOrientation:"horizontal"
            })
          })
        );

        var series1 = chart.series.push(
          am5xy.LineSeries.new(root, {
            name: "하한",
            xAxis: xAxis,
            yAxis: yAxis,
            valueYField: "bandDown",
            valueXField: "date",
            stroke: series0.get("stroke"),
            fill: series0.get("stroke"),
            tooltip:am5.Tooltip.new(root, {
              labelText:"{valueY}",
              pointerOrientation:"horizontal"
            })
          })
        );

        var series2 = chart.series.push(am5xy.LineSeries.new(root, {
          name: "보정값",
          xAxis: xAxis,
          yAxis: yAxis,
          valueYField: "preds",
          valueXField: "date",
          tooltip: am5.Tooltip.new(root, {
            pointerOrientation: "horizontal",
            labelText: "{valueY}"
          }),
          stroke: am5.color(0xdddddd),
        }));

        series0.fills.template.setAll({
          fillOpacity: 0.3,
          visible: true
        });

        series0.strokes.template.set("strokeWidth", 2);
        series1.strokes.template.set("strokeWidth", 2);
        series2.strokes.template.set("strokeWidth", 2);

        // var data = generateDatas(200);
        series0.data.setAll(data);
        series1.data.setAll(data);
        series2.data.setAll(data);

        // // Make stuff animate on load
        // // https://www.amcharts.com/docs/v5/concepts/animations/
        series0.appear(1000);
        series1.appear(1000);


        // Create animating bullet by adding two circles in a bullet container and
        // animating radius and opacity of one of them.
        series.bullets.push(function(root, series, dataItem) {  
          // only create sprite if bullet == true in data context
          if (dataItem.dataContext.bullet) {    
            var container = am5.Container.new(root, {});
            var circle0 = container.children.push(am5.Circle.new(root, {
              radius: 5,
              fill: am5.color(0xff0000)
            }));
            var circle1 = container.children.push(am5.Circle.new(root, {
              radius: 5,
              fill: am5.color(0xff0000)
            }));

            circle1.animate({
              key: "radius",
              to: 20,
              duration: 1000,
              easing: am5.ease.out(am5.ease.cubic),
              loops: Infinity
            });
            circle1.animate({
              key: "opacity",
              to: 0,
              from: 1,
              duration: 1000,
              easing: am5.ease.out(am5.ease.cubic),
              loops: Infinity
            });

            return am5.Bullet.new(root, {
              locationX:undefined,
              sprite: container
            })
          }
        })


        // Add cursor
        // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
        var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
          xAxis: xAxis
        }));
        cursor.lineY.set("visible", false);


        // Update data every second
        setInterval(function () {
          appendTimebandData(visualData, series, series0, series1, series2, xAxis);
        }, 1000)

        //legends
        let legend = chart.children.push(am5.Legend.new(root, {
          layout: root.verticalLayout

        }));
        legend.labels.template.setAll({
          //- fontSize: 20,
          //- fontWeight: "300"
          fill: am5.color(0xFFFFFF)
        });
        legend.data.setAll(chart.series.values);


        // Make stuff animate on load
        // https://www.amcharts.com/docs/v5/concepts/animations/
        chart.appear(1000, 100);
      }

      function generateTimebandData(visualData) {
        var chartData = [];
        
        for (var i = 0; i < timebandDataIndex; i++) {
          let d = visualData[i];
          chartData.push({
            date: Date.parse(d.date),
            value: d.reals,
            bandUp: d.upper,
            bandDown: d.lower,
            preds: d.preds
          });
        }
        return chartData;
      }

      function appendTimebandData(visualData, series, series0, series1, series2, xAxis) {
        if(timebandDataIndex > visualData.length) {
          return;
        }
        var lastDataItem = series.dataItems[series.dataItems.length - 1];

        var lastValue = lastDataItem.get("valueY");
        //- var newValue = value + ((Math.random() < 0.5 ? 1 : -1) * Math.random() * 5);
        var lastDate = new Date(lastDataItem.get("valueX"));
        var time = am5.time.add(new Date(lastDate), "second", 2).getTime();

        series.data.removeIndex(0);
        series0.data.removeIndex(0);
        series1.data.removeIndex(0);
        series2.data.removeIndex(0);
        const d = visualData[timebandDataIndex++];

        const newData = {
          date: Date.parse(d.date),
          value: d.reals,
          bandUp: d.upper,
          bandDown: d.lower,
          preds: d.preds
        };
        series.data.push(newData)
        series0.data.push(newData)
        series1.data.push(newData)
        series2.data.push(newData)

        var newDataItem = series.dataItems[series.dataItems.length - 1];
        newDataItem.animate({
          key: "valueYWorking",
          to: d.reals,
          from: lastValue,
          duration: 600,
          easing: am5.ease.linear
        });

        // use the bullet of last data item so that a new sprite is not created
        newDataItem.bullets = [];
        newDataItem.bullets[0] = lastDataItem.bullets[0];
        newDataItem.bullets[0].get("sprite").dataItem = newDataItem;
        // reset bullets
        lastDataItem.dataContext.bullet = false;
        lastDataItem.bullets = [];


        var animation = newDataItem.animate({
          key: "locationX",
          to: 0.5,
          from: -0.5,
          duration: 600
        });
        if (animation) {
          var tooltip = xAxis.get("tooltip");
          if (tooltip && !tooltip.isHidden()) {
            animation.events.on("stopped", function () {
              xAxis.updateTooltip();
            })
          }
        }
      }
    });