doctype html
html
  head
    title= title

    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    meta(name='viewport' content='width=device-width,initial-scale=1')
  body
    include ../fragments/_top_nav.pug 

    div.login-form
      h1 로그인
      if message
        | !{message.error}
      form(action="/login" method="post")
        div.input-field
          input#username.validate(type="text" name="username" autofocus)
          label(for="username") Username

        div.input-field
          input#password.validate(type="password" name="password")
          label(for="password") Password

        button.btn(type="submit") 로그인
          


    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    script.
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
    block scripts