svg.datamap {
    overflow: initial;
  
    .node circle {
      fill: #33a299;
      stroke: #33a299;
      stroke-width: 1px;
    }
  
    .node text {
      font-size: 14px;
      fill: #fff;
    }
  
    .node.circle-group.leaf {
      text {
        font-size: 12px;
        fill: #999;
      }
    }
  
    .node {
      &.less-important {
        text {
          font: 12px;
        }
      }
    }
  
    circle.node {
      &.BASIC {
        fill: cColor('basic', 'base');
      }
      &.COMMERCIALIZATION {
        fill: cColor('commercialization', 'base');
      }
      &.CLINICAL_RESEARCH {
        fill: cColor('clinical_research', 'base');
      }
      &.EPIDEMIOLOGY {
        fill: cColor('epidemiology', 'base');
      }
      &.POLICY {
        fill: cColor('policy', 'base');
      }
    }
  
    circle.outer-line {
      fill: none;
      stroke: #AAA;
      stroke-width: 1px;
      stroke-dasharray: 5;
    }
  
    .node text {
  
    }
  
    .link {
      fill: none;
      stroke: #999;
      stroke-width: 1px;
    }
  
    .link.type1 {
      stroke: #3889c6;
    }
  
    .link.type2 {
      stroke: #56bf84;
    }
  
    .link.type3 {
      stroke-dasharray: 20,10,5,5,5,10;
      stroke: #dd4433;
    }
  }
  
  .right-option-card {
    margin-bottom: 1rem;
    border: 1px solid #A8B7C5;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    background-color: rgba(255, 255, 255, .6);
  
    &.no-padding {
      border: none;
      padding: 0;
    }
  
    &__title {
      > h4 {
        color: #0A89CB;
  
        &.black {
          color: black;
        }
      }
    }
  }
  
  .datamap-search {
    background-color: #fff;
    z-index: 3;
  
    &__icon {
      font-size: 24px;
      color: #397DBA;
      background-color: transparent;
      border-radius: 0;
      border: none;
      border-bottom: 2px solid #fff;
    }
  
    &__key {
      color: #397DBA;
      font-size: 18px;
      border: none;
      border-radius: 0;
      background: transparent;
      border-bottom: 2px solid #fff;
      height: 48px;
      padding-left: 16px;
      margin-right: 32px;
  
      &:before {
        content: 'a';
      }
  
      &:focus {
        color: #397DBA;
        background-color: transparent;
        outline: none;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid #fff;
      }
    }
  
    &__btn {
      border: 1px solid #fff;
      color: #397DBA;
      background: #fff;
      padding-left: 16px;
      padding-right: 16px;
  
      &:hover,
      &:focus {
        background: #397DBA;
        color: #fff;
        opacity: .8;
      }
    }
  }
  
  .tree-wrap {
    position: relative;
  }
  
  $tree-option-mt: 16px;
  #category-labels {
    position: absolute;
    z-index: 5;
    float: left;
    top: $tree-option-mt;
    left: 24px;
  
    .category-label {
      margin-right: 16px;
      margin-bottom: 8px;
      padding: 4px 12px;
      border: 1px solid #ddd;
      width: 200px;
  
      //&.industry {
      //  background-color: $industry-color;
      //}
      //&.science {
      //  background-color: $science-color;
      //}
      //&.politic {
      //  background-color: $politic-color;
      //}
      //&.health {
      //  background-color: $health-color;
      //}
      //&.culture {
      //  background-color: $culture-color;
      //}
    }
  }
  
  #ranked-data-wrap {
    position: absolute;
    z-index: 5;
    top: $tree-option-mt;
    right: 24px;
    width: 280px;
    background-color: transparent;
  
    h4 {
      margin-top: 16px;
      font-size: 16px;
    }
  
    #ranked-data {
      background-color: #fff;
  
      > ol {
        padding-left: 0px;
        list-style: none;
        border: 1px solid #397DBA;
        margin-bottom: 0;
  
        > li {
          > a {
            color: #666;
            background-color: #fff;
            font-weight: normal;
            display: block;
            padding: 10px 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
  
            > .rank-num {
              background-color: #666;
              color: #fff;
              width: 21px;
              height: 21px;
              line-height: 21px;
              text-align: center;
              vertical-align: middle;
              display: inline-block;
              font-size: 12px;
              border-radius: 4px;
            }
  
            &.active {
              color: #397DBA;
  
              > .rank-num {
                background-color: #397DBA;
                color: #fff;
              }
            }
  
            &:hover {
              background-color: #397DBA;
              color: #fff;
            }
          }
  
          &:last-child {
            > a {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
  
  #explain-wrap {
    table {
      background-color: #151C2E;
    }
  }
  
  #map-info-wrap {
  
  }
  
  .datamap-info-table {
    > tbody {
      > tr {
        > th {
          background-color: rgba(255, 255, 255, .2);
          text-align: center;
        }
  
        > td.title {
          color: getColor("point3", "base");
          font-weight: bold;
        }
  
        a {
          color: #fff;
        }
      }
    }
  }
  
  #sub-tree-tabs {
  
  }
  
  .subdomain-tabs {
    li.nav-item {
      width: 20%;
      text-align: center;
  
      a.nav-link {
        color: #fff;
  
        &.active {
          color: #000;
        }
      }
    }
  }
  
  .modal.datamap-modal {
    .modal-dialog {
      .modal-content {
        border: 1px solid #fff;
        background-color: #141B2C;
  
        .modal-title {
          color: #D4BDA7;
          font-size: 20px;
  
          //&.industry {
          //  color: $industry-color;
          //}
          //
          //&.science {
          //  color: $science-color;
          //}
          //
          //&.politic {
          //  color: $politic-color;
          //}
          //
          //&.health {
          //  color: $health-color;
          //}
          //
          //&.culture {
          //  color: $culture-color;
          //}
        }
  
        .close {
          color: #fff;
        }
  
        .modal-header {
          border-bottom: none;
        }
  
        .modal-footer {
          border-top: none;
        }
      }
    }
  }
  
  .network-wrap {
    position: relative;
  }
  
  @keyframes draw {
    0% {
      stroke: yellow;
      stroke-width: 4px;
    }
    100% {
      stroke-width: 0px;
    }
  }
  
  #data-network,
  #data-network-cluster,
  .network-map {
    .nodes circle {
      stroke: #33a299;
      stroke-width: 1.5px;
    }
  
    circle.node.colored {
      stroke: #33a299;
  
      //&.industry {
      //  fill: $industry-color;
      //}
      //&.science {
      //  fill: $science-color;
      //}
      //&.politic {
      //  fill: $politic-color;
      //}
      //&.health {
      //  fill: $health-color;
      //}
      //&.culture {
      //  fill: $culture-color;
      //}
    }
  
    text {
      fill: #fff;
      font-size: 10px;
    }
  }
  
  .circle-group.selected {
    circle {
      animation: 1s draw linear infinite;
    }
  }
  
  .sub-network-tabs {
    > ul {
      border-bottom: none;
  
      > li {
        width: 20%;
        background-color: #fff;
  
        > a {
          padding: 8px 16px;
          display: block;
          text-align: center;
          color: #151C2E;
          border-right: 1px solid #151C2E;
  
          &.active {
            color: #fff;
  
            //&.industry-tab {
            //  background-color: $industry-color;
            //}
            //&.science-tab {
            //  background-color: $science-color;
            //}
            //&.politic-tab {
            //  background-color: $politic-color;
            //}
            //&.health-tab {
            //  background-color: $health-color;
            //}
            //&.culture-tab {
            //  background-color: $culture-color;
            //}
          }
        }
      }
    }
  }
  
  div.map-tooltip {
    position: absolute;
    text-align: left;
    padding: 4px;
    max-width: 420px;
    font: 14px;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }
  
  #datamap-banner {
    background-image: url("../imgs/search/search_banner.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 240px;
  
    .search-box-wrap {
      position: relative;
      padding-top: 30px;
      text-align: center;
    }
  
    .search-box {
      display: flex;
  
      .search-box-form {
        width: 100%;
      }
  
      .search-btn {
        position: absolute;
        display: inline-block;
        right: 18px;
        top: 73%;
        transform: translateY(-12px);
        color: ncc-color('primary', 'darken-1');
        font-size: 16px;
        z-index: 3;
      }
  
      .search-btn-detail {
        position: absolute;
        right: -80px;
        height: 56px;
      }
    }
  }